@font-face {
    font-family: 'Schlang';
    src: url('../fonts/ALSSchlangesans-Black.ttf') format('truetype');
    font-weight: 900;
}

body {
    color: #333;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-family: 'Schlang', serif ;
}

.container {
    width: 60%;
    margin: 1em auto;
}

.group-btn {
    cursor: pointer;
    border-radius: 1em;
    border: 3px solid #ccc;
    padding: .5em 1.5em;
    color: #ccc;
    transition: .2s;
}

.active {
    border-color: #3688d0 !important;
    color: #3688d0 !important;
}

.group-btn:hover {
    border: 3px solid #3688d0;
    color: #3688d0;
}

.dropdown {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    border-radius: 1em;
    padding: .5em 0;
    border: 1px solid #eee;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: .2s;
}

.dropdown:hover {
    background-color: #f9f9f9;
}

.dropdown.hidden {
    display: none;
}

.dropdown .group {
    margin: 1em;
    list-style: none;
}

.dropdown .group a {
    padding: .5em 1em;
    text-decoration: none;
    border: 2px solid #ccc;
    border-radius: 1em;
    color: #ccc;
    transition: .2s;
}

.dropdown .group a:hover {
    border-color: #3688d0;
    color: #3688d0;
}

.schedule-title {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #606060;
    border-bottom: 1px solid #ccc;
    margin-top: 1em;
    line-height: 0;
}

.schedule-days {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    padding: 0;
}

.schedule-days .days a {
    padding: .5em 1em;
    border: 2px solid #ccc;
    border-radius: 1em;
    margin-right: 1em;
    transition: .2s;
    color: #ccc;
    text-decoration: none;
    font-size: .75em;
}

.schedule-days .days a:hover {
    border-color: #3688d0;
    color: #3688d0;
}

.schedule-table {
    width: 100%;
}

.day {
    width: 20%;
    border-radius: 1em;
}

.time {
    width: 20%;
}

.cabinet {
    width: 10%;
}

.lesson {
    width: 35%;
}

.teacher {
    width: 15%;
}

.schedule-header {
    font-size: .75em !important;
    color: #ccc !important;
    text-align: center;
}

.schedule-header td {
    padding: 1em 0;
}

.schedule-table:not(:first-of-type) {
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 1em;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 2em;
}

.schedule-day td {
    padding: 1em 0;
    transition: .2s;
}

.schedule-day:not(:first-child) td {
    border-top: 2px dotted #ccc;
}

.schedule-day th {
    background-color: #fff !important;
}

.schedule-table .schedule-day:first-child th {
    color: #1946ba;
    border-right: 4px dotted #EC0B43;
    font-family: 'Schlang', serif ;
    font-size: 24px;
}

.schedule-day:not(:first-child) th span {
    display: none;
}

.schedule-day:hover {
    background-color: #f9f9f9;
}

.schedule-day .cabinet, .schedule-day .lesson {
    font-family: 'Schlang', serif ;
    text-transform: uppercase;
}

.change {
    color: #ff0000 !important;
}






























